div{
    margin: 10px 0
}
select{
    width: 100px
}
table{
    border-collapse: collapse
}

td{
    width: fit-content
}

table, th, td{
    border: 1px solid black;
    padding: 2px 20px;
}

#form-edit-user input,#form-add-user input{
    margin-bottom: 5px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none; 
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

button{
    margin-left: 5px
}